:root {
  --main-color: #ffffff;
  --second-color: #003d7a;
  --third-color: #000000;
  --four-color: linear-gradient(to left, #e3f2fd, #f1f8ff);
  --bg-main: #f3f4f6;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  --background-gradient: linear-gradient(to right, #003d7a, #0066cc);
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  margin: 0;
  direction: rtl;
  background: var(--bg-main);
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container-fluid {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

main {
  display: block;
  color: var(--third-color);
}

.card {
  transition: transform 0.2s;
  height: 100%;
}

.card:hover {
  transform: scale(1.01);
}

.card-footer {
  background: var(--main-color);
}

p {
  font-weight: 400 !important;
}

h6 {
  font-size: 12px;
}

.text-primary {
  color: var(--second-color) !important;
}

.bg-primary-subtle {
  background-color: rgba(0, 61, 122, 0.1);
}

.bg-purple-subtle {
  background-color: #f3e8ff !important;
}

.text-purple {
  color: #6f42c1 !important;
}

.badge {
  padding: 0.5rem 1rem;
}

.badge.blue {
  background-size: var(--main-color);
  color: var(--second-color);
  box-shadow: var(--box-shadow);
  margin-left: 4px;
}

.badge.gray {
  background: var(--main-color);
  color: #6b7280;
  box-shadow: var(--box-shadow);
}

.border-r-indicator {
  border-right: 4px solid var(--second-color);
}

.progress-bar {
  background: var(--second-color);
}

.dots {
  width: 10px;
  height: 10px;
}

.table th,
.table td {
  padding: 13px;
  text-align: center;
  font-weight: 350 !important;
}

.recent-item {
  border-radius: 10px;
  transition: all 0.2s;
  background: var(--bg-main);
}

.recent-item:hover {
  transform: translateX(1px);
  box-shadow: var(--box-shadow);
}

.active {
  background: var(--second-color);
  color: var(--main-color);
  border: none;
}

/******************fonts*********************/

.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}

/****************************forms*****************************************/

.form-label {
  margin-bottom: 7px;
}

.form-control,
.form-select {
  background: #f1f8ff;
}

.form-control:hover,
.form-control:focus,
.form-select:hover,
.form-select:focus {
  border: 2px solid var(--second-color);
  box-shadow: none;
  background: #f1f8ff;
}

.form-control::placeholder {
  color: #01579b;
}

.form-select:has(option[value=""]:checked) {
  color: #01579b; /* نفس لون placeholder */
}

.form-select option:not([value=""]) {
  color: #000;
}

/***************************button**********************************/

.btn-view {
  border: 1px solid #999;
}

.btn-view:hover {
  border: none;
  background: var(--second-color);
  color: var(--main-color);
}

.btn-view:focus {
  border: var(--second-color);
  background: var(--second-color);
  color: var(--main-color);
}

.btn-view.active {
  background: var(--second-color);
  color: var(--main-color);
  border: none;
}
